/* CSS declarations go here */
html{
    background-color: lightblue;
}

h1 {
    text-align: center;
    background-color: lightblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    overflow: hidden;
    width: 25%;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}